
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Variaveis*/

:root
{
    --primaria: #000;
    --secundaria: #F6F6F6;
    --terciaria: #4E965E;

    --font-primaria: "Krona One", serif;
    --font-secundaria: 'Montserrat' , sans-serif;
}

/*Index*/

body
{
    box-sizing: border-box;
    background-color: var(--primaria);
    color:  #F6F6F6;
}

.cabecalho
{
    padding: 2% 0px 0px 15%;
    text-align: left;
}

.cabecalho .menu
{
    display: flex;
    gap: 60px;
}

.cabecalho .link
{
    font-family: var(--font-secundaria);
    text-decoration: none;
    color: var(--terciaria);
    font-size: 1.25rem;
    font-weight: 600;
}

.link:hover
{
    color: var(--secundaria);
}

.apresentacao
{
    margin: 5% 15% 10% 15%;
    display: flex;
    align-items: center;
    gap: 82px;
}

.container
{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0px 70px 0px 0px;
}

.titulo
{
    font-size: 1.5rem;
    font-family: var(--font-primaria);
    font-weight: 400;
}

.titulo .destaque
{
    color: var(--terciaria);
}

.paragrafo
{
    font-size: 0.9rem;
    font-family: var(--font-secundaria);
    font-weight: 200;
}

.paragrafo .destaque
{
    color: var(--secundaria);
}

.paragrafo .destaque:hover
{
    color: var(--terciaria);
}

.img
{
    width: 95%;   
    border: 0px solid var(--terciaria);
    border-radius: 8px;
}

.botoes
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.botoes h3
{
    font-family: var(--font-primaria);
    font-size: 0.9rem;
    font-weight: 400;
}

.botao
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;
    border: 1px solid var(--terciaria);
    color:  var(--secundaria);
    padding: 13px 50px;
    width: 70%;
    border-radius: 8px;
    font-size: 0.9rem;
    text-decoration: none;
    font-family: var(--font-secundaria);
}

.botao:hover
{
    border-color: var(--secundaria);
}

.rodape
{
    padding: 24px;
    color: var(--primaria);
    background-color: var(--terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 0.87rem;
    font-weight: 400px;
}

/*Sobre mim*/

.about
{
    padding: 6% 15%;
    display: flex;
    gap: 40px;
}

.about-text
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about-text h1
{
    font-size: 1.5rem;
    font-family: var(--font-primaria);
    font-weight: 400;
}

.about-text p
{
    font-family: var(--font-secundaria);
    font-size: 1.1rem;
}

.about-img
{
    width: 50%;   
    border-radius: 8px;
}



/*Responsividade*/

@media (max-width: 1200px)
{
    .cabecalho
    {
       padding: 10%; 
    }

    .cabecalho .menu
    {
        justify-content: center;
        gap: 60px;
    }

    .apresentacao
    {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao .container
    {
        width: auto;
    }
}    
